<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<h1>Mini stack</h1>
<br/>
<body>

<center>
    <div style="width: 60%; margin-top: 5%">
        <h1>Rejestracja w MiniStack TM</h1>
        <strong>Witaj w klubie wyjadaczy IT</strong>

        <br/><br/>

        <form style="width: 70%" action="/user/register" method="post" th:object="${registerForm}">
            <div class="form-group">
                <label for="nickname">Nick</label>
                <input th:field="*{nickname}" id="nickname" type="text" class="form-control"  placeholder="Wpisz nickname">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail">Email</label>
                <input th:field="*{email}" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Wpisz email">
                <small id="emailHelp" class="form-text text-muted">Nikt nigdy nie zobaczy Twojego adresu</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Hasło</label>
                <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Zarejestruj</button>
        </form>
    </div>
</center>

</body>
</html>