<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<th:block th:replace="inc/nav :: nav"></th:block>
<center>
    <div style="width: 60%; margin-top: 100px">
        <div th:if="${logout!=null}" th:text="${logout}" class="alert alert-success" role="alert">
        </div>
    </div>
    <div style="width: 60%; margin-top: 5%">
        <h1>Logowanie</h1>


        <br/><br/>

        <div th:if="${isLogged != null && !isLogged}" class="alert alert-danger" role="alert">
            Email lub hasło nieprawidłowe
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            Błąd danych
        </div>
        <form style="width: 70%" action="/user/login" method="post" th:object="${loginForm}">
            <div class="form-group">
                <label for="exampleInputEmail">Email</label>
                <input th:field="*{email}" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Wpisz email">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Hasło</label>
                <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

            </div>
            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </form>
    </div>
</center>
</body>
</html>
